JWT_ACCESS_SECRET=YOUR_SECRET_KEY
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET_KEY
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=YOUR_PASSWORD
DB_NAME=projexa-db
FRONTEND_URL=YOUR_FRONTEND_URL

#Resend.com Mail API
RESEND_API_KEY=YOUR_RESEND_API_KEY
MAIL_FROM=YOUR_NO_REPLY_MAIL
